# Portfolio Theory and Asset Pricing - Group Submission 3
## Timezone Group 6 - B :

Ken Chan (mindmothership@gmail.com), 

Handy Gunawan (Handygunawan17@gmail.com), 

Joe Hoong Ng (ng_joehoong@hotmail.com), 

Trai Torsricharoen (traitorsricharoen@gmail.com)

### Introduction

TBA

First, we read the data from the Excel spreadsheet given, into a pandas DataFrame named "price_df".

In [51]:
import pandas as pd
import numpy as np

price_df = pd.read_excel('GWP_PTAP_Data.xlsx', sheet_name="10 SPDRs and S&P 500", index_col=0, header=1)

print("DataFrame displaying monthly prices:")
price_df

DataFrame displaying monthly prices:

,XLE,XLB,XLI,XLY,XLP,XLV,XLF,XLK,XLU,XLRE,S&P 500
Date,,,,,,,,,,,
2016-12-30,75.320000,49.700001,62.220001,81.400002,51.709999,68.940002,23.250000,48.360001,48.570000,30.750000,2238.830078
2017-01-31,72.900002,51.959999,63.380001,84.830002,52.590000,70.519997,23.309999,50.080002,49.180000,30.709999,2278.870117
2017-02-28,71.379997,52.250000,65.860001,86.370003,55.099998,74.989998,24.540001,52.349998,51.770000,32.139999,2363.639893
2017-03-31,69.900002,52.410000,65.059998,87.949997,54.580002,74.360001,23.730000,53.310001,51.310001,31.600000,2362.719971
2017-04-28,67.839996,53.070000,66.339996,90.059998,55.180000,75.500000,23.530001,54.380001,51.700001,31.650000,2384.199951
2017-05-31,65.440002,53.080002,67.519997,91.050003,56.639999,76.080002,23.250000,56.529999,53.840000,31.860001,2411.800049
2017-06-30,64.919998,53.810001,68.110001,89.629997,54.939999,79.239998,24.670000,54.720001,51.959999,32.200001,2423.409912
2017-07-31,66.620003,54.639999,68.309998,91.360001,55.320000,79.889999,25.090000,57.160000,53.220001,32.590000,2470.300049
2017-08-31,62.970001,55.070000,68.459999,89.660004,54.709999,81.290001,24.700001,58.830002,54.970001,32.919998,2471.649902
2017-09-29,68.480003,56.799999,71.000000,90.080002,53.980000,81.730003,25.860001,59.099998,53.049999,32.240002,2519.360107
2017-10-31,67.910004,59.000000,71.529999,91.989998,53.090000,81.110001,26.600000,62.950001,55.119999,32.500000,2575.260010
2017-11-30,69.099998,59.560001,74.510002,96.650002,56.049999,83.470001,27.520000,63.840000,56.599998,33.450001,2647.580078
2017-12-29,72.260002,60.529999,75.669998,98.690002,56.889999,82.680000,27.910000,63.950001,52.680000,32.939999,2673.610107

## a) Compute the price return for each SPDR and the S&P 500 for each month of 2017.

We calculate log returns for each SPDR and S&P, dividing the current month's price by the previous month, and then taking the natural log of that result. The results are collected in the "return_df" pandas DataFrame.

In [50]:
return_df = np.log(price_df/price_df.shift(1)).dropna()
print("DataFrame displaying log monthly returns:")
return_df

DataFrame displaying log monthly returns:

,XLE,XLB,XLI,XLY,XLP,XLV,XLF,XLK,XLU,XLRE,S&P 500
Date,,,,,,,,,,,
2017-01-31,-0.032657,0.044469,0.018472,0.041274,0.016875,0.022660,0.002577,0.034949,0.012481,-0.001302,0.017726
2017-02-28,-0.021071,0.005566,0.038383,0.017991,0.046624,0.061458,0.051422,0.044330,0.051324,0.045513,0.036523
2017-03-31,-0.020952,0.003058,-0.012221,0.018128,-0.009482,-0.008437,-0.033564,0.018172,-0.008925,-0.016944,-0.000389
2017-04-28,-0.029914,0.012514,0.019483,0.023708,0.010933,0.015214,-0.008464,0.019873,0.007572,0.001581,0.009050
2017-05-31,-0.036018,0.000188,0.017631,0.010933,0.026115,0.007653,-0.011971,0.038775,0.040559,0.006613,0.011510
2017-06-30,-0.007978,0.013659,0.008700,-0.015719,-0.030474,0.040696,0.059283,-0.032542,-0.035543,0.010615,0.004802
2017-07-31,0.025849,0.015307,0.002932,0.019118,0.006893,0.008169,0.016881,0.043625,0.023960,0.012039,0.019164
2017-08-31,-0.056346,0.007839,0.002193,-0.018783,-0.011088,0.017372,-0.015666,0.028798,0.032353,0.010075,0.000546
2017-09-29,0.083883,0.030931,0.036430,0.004673,-0.013433,0.005398,0.045894,0.004579,-0.035553,-0.020872,0.019119
2017-10-31,-0.008358,0.038001,0.007437,0.020982,-0.016625,-0.007615,0.028214,0.063110,0.038278,0.008032,0.021946
2017-11-30,0.017371,0.009447,0.040816,0.049416,0.054256,0.028681,0.034002,0.014039,0.026496,0.028812,0.027696
2017-12-29,0.044716,0.016155,0.015448,0.020887,0.014875,-0.009510,0.014072,0.001722,-0.071773,-0.015364,0.009784

## b) Compute the active return (relative to the S&P 500) for each SPDR for each month of 2017.

The active return is defined as the difference between a portfolio's return and the benchmark's return. In this case, the benchmark is given as the S&P 500. We create and store the active returns calculated in "active_return_df".

In [33]:
active_return_df = pd.DataFrame(index=return_df.index)

In [34]:
columns = list(return_df)
del columns[-1]

for i in columns:
    active_return_df[i+"_act_ret"] = return_df[i] - return_df['S&P 500']

In [52]:
print("DataFrame displaying monthly active returns:")
active_return_df

DataFrame displaying monthly active returns:

,XLE_act_ret,XLB_act_ret,XLI_act_ret,XLY_act_ret,XLP_act_ret,XLV_act_ret,XLF_act_ret,XLK_act_ret,XLU_act_ret,XLRE_act_ret
Date,,,,,,,,,,
2017-01-31,-0.050383,0.026743,0.000746,0.023548,-0.000851,0.004933,-0.015149,0.017222,-0.005245,-0.019028
2017-02-28,-0.057594,-0.030957,0.001860,-0.018532,0.010101,0.024935,0.014899,0.007807,0.014801,0.008990
2017-03-31,-0.020563,0.003447,-0.011832,0.018517,-0.009093,-0.008047,-0.033175,0.018561,-0.008536,-0.016555
2017-04-28,-0.038964,0.003464,0.010433,0.014658,0.001883,0.006164,-0.017514,0.010822,-0.001478,-0.007469
2017-05-31,-0.047528,-0.011321,0.006121,-0.000577,0.014605,-0.003857,-0.023481,0.027265,0.029049,-0.004897
2017-06-30,-0.012780,0.008857,0.003898,-0.020521,-0.035276,0.035894,0.054481,-0.037344,-0.040345,0.005813
2017-07-31,0.006685,-0.003857,-0.016232,-0.000046,-0.012271,-0.010995,-0.002283,0.024461,0.004796,-0.007125
2017-08-31,-0.056893,0.007293,0.001647,-0.019329,-0.011634,0.016826,-0.016212,0.028251,0.031807,0.009529
2017-09-29,0.064764,0.011812,0.017311,-0.014446,-0.032552,-0.013721,0.026775,-0.014540,-0.054672,-0.039991
2017-10-31,-0.030304,0.016056,-0.014509,-0.000964,-0.038571,-0.029560,0.006268,0.041164,0.016332,-0.013913
2017-11-30,-0.010324,-0.018249,0.013121,0.021721,0.026560,0.000985,0.006306,-0.013656,-0.001199,0.001116
2017-12-29,0.034932,0.006371,0.005665,0.011104,0.005092,-0.019293,0.004288,-0.008062,-0.081557,-0.025148

## c) Calculate the monthly tracking error for each SPDR in 2017.

Tracking error is defined as the standard deviations of active returns. Thus, we calculate the standard deviations of active returns from "active_return_df", and then sort the tracking error in ascending order, so that we can easily determine the SPDR which has the lowest tracking error.

In [53]:
print("Pandas series showing monthly tracking error:")
active_return_df.std(axis=0).sort_values()

Pandas series showing monthly tracking error:

XLI_act_ret     0.010696
XLRE_act_ret    0.014815
XLB_act_ret     0.015698
XLY_act_ret     0.016614
XLV_act_ret     0.018805
XLP_act_ret     0.020562
XLK_act_ret     0.022653
XLF_act_ret     0.024231
XLU_act_ret     0.034331
XLE_act_ret     0.038073
dtype: float64

## Identify the SPDR that best tracks the S&P 500 and explain how you came to this conclusion.

The SPDR that best tracks the S&P500 is XLI as it has the lowest monthly tracking error at 0.010696%